<section class="contacts" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Контакты</h2>
            </div>
        </div>
        <div class="row topcont">
            <div class="col-md-6">
                <img src="{{ asset('images/contacts/cont1.jpg') }}" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="contacts-subhead">
                    Адрес:
                </h3>
                <p class="contacts_descr">
                    Санкт-Петербург, Кушелевская дорога 20
                </p>
                <h3 class="contacts-subhead">
                    Телефон:
                </h3>
                <p class="contacts_descr">
                    8 (812) 936 33-79
                </p>
                <h3 class="contacts-subhead">
                    График:
                </h3>
                <p class="contacts_descr">
                    Мы работаем с понедельника по воскресенье <br>
                    с 09:00 до 21:00
                </p>
            </div>
        </div>
        <div class="row topcont">

            <div class="col-md-6">
                <h3 class="contacts-subhead">
                    Адрес:
                </h3>
                <p class="contacts_descr">
                    Санкт-Петербург, ул. Боровая 116
                </p>
                <h3 class="contacts-subhead">
                    Телефон:
                </h3>
                <p class="contacts_descr">
                    +7 (812) 955-85-53
                </p>
                <h3 class="contacts-subhead">
                    График:
                </h3>
                <p class="contacts_descr">
                    Мы работаем с понедельника по воскресенье <br>
                    с 09:00 до 21:00
                </p>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('images/contacts/cont_2.jpg') }}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('images/contacts/cont3.jpg') }}" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="contacts-subhead">
                    Адрес:
                </h3>
                <p class="contacts_descr">
                    Санкт-Петербург, дорога на Турухтанные Острова, 12
                </p>
                <h3 class="contacts-subhead">
                    Телефон:
                </h3>
                <p class="contacts_descr">
                    8 (812) 913-54-86
                </p>
                <h3 class="contacts-subhead">
                    График:
                </h3>
                <p class="contacts_descr">
                    Мы работаем с понедельника по воскресенье <br>
                    с 09:00 до 21:00
                </p>
            </div>
        </div>
    </div>
</section>