<footer class="container-fluid bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="/img/logo-bmw-black.png" class="w-50 logo-footer" style="margin-top:20px;" alt="[[*pagetitle]]" >
                            <p>Кушелевская дорога 20</p>
                            <p>Ежедневно с 09:00 до 21:00</p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6> О нас</h6>
                        <p>Ремонт, обслуживание, тюнинг и запчасти БМВ</p>
                        <a href="#" class="btn-footer"> Больше информацияя </a><br>
                        <a href="#" class="btn-footer"> Контакты</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h6> Меню</h6>
                        <div class="row ">
                            <div class="col-md-6 col-xs-6">
                                {{ include('elements/menu/footer_nav.html.twig') }}
                            </div>
                            <div class="col-md-6 px-4 col-xs-6">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <h6> Соцсети</h6>
                        <div class="social">
                            <a href="https://vk.com/vrnauto"  target="_blank" title="ВКонтакте"><i class="fa fa-vk" aria-hidden="true"></i></a>
                            <a href="https://www.youtube.com/channel/UCAPwbGHF3yucL_qZl1u3Lvw" target="_blank" title="Youtube"><i class="fa fa-youtube" aria-hidden="true" ></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100014762497660" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/spbpik/ " target="_blank" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                        <p>Мы в социальных сетях</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
