<div class="top-map">
    <div class="container-fluid">
		<span>
		    <img class="icon" src="i/ico2.png" alt="[[*pagetitle]]">
	        Ежедневно с 9:00 до 21:00
	    </span>
        <span></span>
        <span></span>
        <span>
		    <img class="icon" src="i/ico1.png" alt="[[*pagetitle]]">
	        Кушелевская дорога 20 / <a class="roistat-phone contact-btn footer_phone" href="tel:+78129363379" onclick="ym(25010459,'reachGoal','headerphone')">+7(812) 936 33-79</a>
        </span>
        <span>
		    <img class="icon" src="i/ico1.png" alt="[[*pagetitle]]">
	        ул. Боровая 116 / <a class="roistat-phone1 contact-btn footer_phone" href="tel:+78129558553" onclick="ym(25010459,'reachGoal','headerphone')">+7(812) 955 85-53</a>
        </span>
        <span></span>
        <span>
		    <img class="icon" src="i/ico1.png" alt="[[*pagetitle]]">
	        Дор. на Турухтанные Острова, 12 / <a class="roistat-phone contact-btn footer_phone" href="tel:+78129135486" onclick="ym(25010459,'reachGoal','headerphone')">+7(812) 913-54-86</a>
        </span>
    </div>
</div>
