<div class="about-service">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Сервис БМВ в Санкт-Петербурге</h2>
                <div class="repair-info__new_content">
                    <div class="repair-info__new_content_photo about-service__photo">
                        <img src="/images/aboute-service-image.png" alt="Ремонт БМВ в Санкт-Петербурге">
                    </div>
                    <div class="repair-info__new_content_right">
                        <div class="repair-info__new_content_text about-service__text">
                            <div class="repair-info__new_content_text_wrapper about-service__text_wrapper">
                                {{ page.text|raw }}
                            </div>
                        </div>
                        <div class="repair-info__new_logo">
                            <button class="btn-primary">ЗАПИСАТЬСЯ СЕЙЧАС</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>