<!-- Dishes Start -->

<div class="dishes padd">
    <!-- Default Heading -->
    <div>
        <!-- Crown image -->
        <!-- Heading -->
        <h2>Почему нам доверяют владельцы БМВ [[*model18]] [[*Kuzov18]]:</h2>
        <!-- Paragraph -->
        <p>Потому что мы уже много лет специализируемся на обслуживание, ремонте и тюнинге только BMW!</p>
        <!-- Border -->
        <div class="border"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="dishes-item-container">
                <!-- Image Frame -->
                <div class="img-frame">
                    <!-- Image -->
                    <img src="{{ asset('images/four-img1.jpg') }}" class="img-responsive" alt="Автосервис БМВ" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                        <!-- Hover Icon -->
                        <a href=""></a>
                    </div>
                </div>
                <!-- Dish Details -->
                <div class="dish-details">
                    <!-- Heading -->
                    <h3>Практикуем</h3>
                    <!-- Paragraph -->
                    <p>Каждый день мы обслуживаем только БМВ</p>
                    <!-- Button -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="dishes-item-container">
                <!-- Image Frame -->
                <div class="img-frame">
                    <!-- Image -->
                    <img src="{{ asset('images/four-img2.jpg') }}" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                        <!-- Hover Icon -->
                        <a href=""></a>
                    </div>
                </div>
                <!-- Dish Details -->
                <div class="dish-details">
                    <!-- Heading -->
                    <h3>Огромный склад</h3>
                    <!-- Paragraph -->
                    <p>Мы работаем без посредников, на прямую с производителями.</p>
                    <!-- Button -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="dishes-item-container">
                <!-- Image Frame -->
                <div class="img-frame">
                    <!-- Image -->
                    <img src="{{ asset('images/four-img3.jpg') }}" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                        <!-- Hover Icon -->
                        <a href=""></a>
                    </div>
                </div>
                <!-- Dish Details -->
                <div class="dish-details">
                    <!-- Heading -->
                    <h3>Специализация</h3>
                    <!-- Paragraph -->
                    <p>5-6 капитальных ремонта двигателей в месяц!</p>
                    <!-- Button -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="dishes-item-container">
                <!-- Image Frame -->
                <div class="img-frame">
                    <!-- Image -->
                    <img src="{{ asset('images/four-img4.jpg') }}" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                        <!-- Hover Icon -->
                        <a href=""></a>
                    </div>
                </div>
                <!-- Dish Details -->
                <div class="dish-details">
                    <!-- Heading -->
                    <h3>Профессионалы</h3>
                    <!-- Paragraph -->
                    <p>Более 10 лет опыт наших мастеров с автомобильными двигателя!</p>
                    <!-- Button -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dishes End -->