<div class="repair-info__new container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Ремонт БМВ в Санкт-Петербурге</h2>
                <div class="repair-info__new_content">
                    <div class="repair-info__new_content_photo">
                        <img src="/images/repair-info-photo.png" alt="Ремонт БМВ в Санкт-Петербурге">
                    </div>
                    <div class="repair-info__new_content_right">
                        <div class="repair-info__new_content_text">
                            <div class="repair-info__new_content_text_wrapper">
                                <p>Вы давно ищите высококачественный сервис, специализирующийся на автомашинах марки BMW?
                                    Тогда наша компания, это то, что вам нужно!</p>
                                <p>Мы осуществляем широкий спектр работ  по обслуживанию и ремонту машин баварского происхождения БМВ в Санкт – Петербурге.</p>
                                <p>При входе к нам вас встретит команда высококвалифицированных работников,  с многолетним стажем.</p>

                                <p>Только БМВ - Преимуществом нашего сервиса BMW,  то что мы специализируемся на ремонт, диагностике  и обслуживания одной марки - BMW.</p>
                            </div>

                        </div>
                        <div class="repair-info__new_logo">
                            <a href="/">
                                <div class="bg-holder">Автоцентр</div>
                                <div class="pik">ПИК</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>