{% if footer_nav is defined and footer_nav is not empty %}
    <ul>
        {% for nav_item in footer_nav %}
            <li><a href="/{{ nav_item.path }}">{{ nav_item.menuName ?? nav_item.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}