<ul class="list-inline list-group list-group-horizontal">
        {#{{ dump(modelsMenu) }}#}
    {% for menuItem in modelsMenu %}
            <li class="me-3"><a href="/{{ menuItem.path }}">{{ menuItem[0].menuName ?? menuItem[0].name }}</a></li>
    {% endfor %}
</ul>