{% if modelsMenu is defined and modelsMenu is not empty %}
    <div class="nav nav-list d-none d-md-block">
        {% for menuItem in modelsMenu %}
            <a href="/{{ menuItem.path }}">{{ menuItem[0].menuName ?? menuItem[0].name }}</a>
        {% endfor %}
    </div>
{% endif %}