<div class="repairing-and-improving">
    <div class="container">
        <p class="title-dex">Как мы уже упомянули, мы предлагаем к вашему вниманию широкое разнообразие работ по ремонту и улучшению условий эксплуатации вашего автотранспорта. А именно:</p>

        <div class="chess-repairing-and-improving">
            <div class="repairing-and-improving__list_wrapper">
                <!-- Header line -->
                <div class="repairing-and-improving__list_header">
                    <div class="repairing-and-improving__list_header_content">
                        <h3>Ремонт технического и электрооборудования.</h3>
                        <p>В данное широкое понятие включается ремонт и настройка двигателя, подвески, коробки передач (как механической, так и автомат), тормозные диски, и так далее.</p>
                        <div class="hr"></div>
                    </div>
                </div>
                <div class="blue-triangle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M590 0H0L590 31V0Z" fill="#1C69D4"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M0 0H590L0 31V0Z" fill="#1C69D4"/>
                    </svg>
                </div>
                <!-- First line -->
                <div class="repairing-and-improving__list_line">
                    <div class="repairing-and-improving__list_line_number">
                        <img src="/images/number-01.svg" alt="">
                        <p class="repairing-and-improving__list_line_number_text">
                            Профилактика мотора: замена цепи ГРМ, мойка Vanos;
                        </p>
                    </div>
                    <div class="repairing-and-improving__list_line_image">
                        <img src="/images/repare-and-improving-foto1.png" alt="">
                    </div>
                </div>
                <div class="blue-triangle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M590 0H0L590 31V0Z" fill="#1C69D4"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M0 0H590L0 31V0Z" fill="#1C69D4"/>
                    </svg>
                </div>
                <!-- Second line -->
                <div class="repairing-and-improving__list_line">
                    <div class="repairing-and-improving__list_line_image">
                        <img src="/images/repare-and-improving-foto2.png" alt="">
                    </div>
                    <div class="repairing-and-improving__list_line_number">
                        <img src="/images/number-02.svg" alt="">
                        <p class="repairing-and-improving__list_line_number_text">
                            Замена технических жидкостей: тормозная жидкость, масло,
                            а также фильтра.
                        </p>
                    </div>
                </div>
                <div class="blue-triangle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M590 0H0L590 31V0Z" fill="#1C69D4"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M0 0H590L0 31V0Z" fill="#1C69D4"/>
                    </svg>
                </div>
                <!-- Third line -->
                <div class="repairing-and-improving__list_line">
                    <div class="repairing-and-improving__list_line_number">
                        <img src="/images/number-03.svg" alt="">
                        <p class="repairing-and-improving__list_line_number_text">
                            Компьютерная диагностика БМВ и последующее обнаружение дефектов в работе автомобиля;
                        </p>
                    </div>
                    <div class="repairing-and-improving__list_line_image">
                        <img src="/images/repare-and-improving-foto3.png" alt="">
                    </div>
                </div>
                <div class="blue-triangle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M590 0H0L590 31V0Z" fill="#1C69D4"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M0 0H590L0 31V0Z" fill="#1C69D4"/>
                    </svg>
                </div>
                <!-- Fourth line -->
                <div class="repairing-and-improving__list_line">
                    <div class="repairing-and-improving__list_line_image">
                        <img src="/images/repare-and-improving-foto4.png" alt="">
                    </div>
                    <div class="repairing-and-improving__list_line_number">
                        <img src="/images/number-04.svg" alt="">
                        <p class="repairing-and-improving__list_line_number_text">
                            Осуществление работ по сезонной смене резины, включая сход – развал
                            и балансировку.
                        </p>
                    </div>
                </div>
                <div class="blue-triangle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M590 0H0L590 31V0Z" fill="#1C69D4"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M0 0H590L0 31V0Z" fill="#1C69D4"/>
                    </svg>
                </div>
                <!-- Fifth line -->
                <div class="repairing-and-improving__list_line">
                    <div class="repairing-and-improving__list_line_number">
                        <img src="/images/number-05.svg" alt="">
                        <p class="repairing-and-improving__list_line_number_text">
                            Кузовной ремонт любой сложности с имеющимися запчастями на складе
                        </p>
                    </div>
                    <div class="repairing-and-improving__list_line_image">
                        <img src="/images/repare-and-improving-foto5.png" alt="">
                    </div>
                </div>
                <div class="blue-triangle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M590 0H0L590 31V0Z" fill="#1C69D4"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="590" height="31" viewBox="0 0 590 31" fill="none">
                        <path d="M0 0H590L0 31V0Z" fill="#1C69D4"/>
                    </svg>
                </div>
            </div>
        </div>


        <div class="repairing-and-improving__list">
            <div class="list-ul group">
                <div class="d-flex align-items-start mb-3">
                    <div class="maker">
                        <img class="arrow-1" src="images/arrow_1_1.png" alt="arrow" />
                    </div>
                    <p class="text-71">Доверяя вашу машину нашей компании, вы можете не беспокоиться о высоком качестве полученных работ.</p>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <div class="maker">
                        <img class="arrow-1" src="images/arrow_1_1.png" alt="arrow" />
                    </div>
                    <p class="text-71">Наши мастера имеют многолетний опыт работы по обслуживанию БМВ.</p>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <div class="maker">
                        <img class="arrow-1" src="images/arrow_1_1.png" alt="arrow" />
                    </div>
                    <p class="text-71">По завершению ремонтных и профилактических работ вы получаете гарантийный лист.</p>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <div class="maker">
                        <img class="arrow-1" src="images/arrow_1_1.png" alt="arrow" />
                    </div>
                    <p class="text-71">Мы придерживаемся индивидуального отношения к каждому клиенту, а главное к его машине!</p>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <div class="maker">
                        <img class="arrow-1" src="images/arrow_1_1.png" alt="arrow" />
                    </div>
                    <p class="text-71">Помимо этого у нас действует бонусная программа. Она включает в себя скидочные акции для постоянных клиентов.</p>
                </div>

                <div class="d-flex align-items-start mb-3">
                    <div class="maker">
                        <img class="arrow-1" src="images/arrow_1_1.png" alt="arrow" />
                    </div>
                    <p class="text-71">Помимо этого вы получаете уникальную возможность привести в наш автосервис друга, и получить скидку на дальнейшее обслуживание!</p>
                </div>


            </div>
            <div class="list-img">
                <img src="/images/repare-and-improvming-list-img.png" alt="">
            </div>
        </div>

        <div class="blockqote group">
            <p class="text-72">
                Мы рады предложить вам оптимальное соотношение цены и качества, которое вы так давно искали. Спешите вступить в ряды наших довольных клиентов. В случае возникновения вопросов вы всегда сможете обратиться по нашим контактным
                данным, либо подъехать по указанному адресу. Двери нашего автосервиса БМВ всегда открыты для вас!
            </p>
        </div>

    </div>
</div>