<div class="container-fluid qq1">
    <div class="container">
        <div class="row">
            <form name="big_uri" method="POST">
                <div class="col-xs-12 col-md-4">
                    <div class="big_select">
                        <span>1</span>
                        <select class="ajax_chain" data-template="option_chain2" name="big_model" data-change="big_kuzov">
                            <option value="">Выберите серию</opion>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="big_select">
                        <span>2</span>
                        <select class="ajax_chain" name="big_kuzov">
                            <option value="">Выберите кузов</opion>
                        </select>
                    </div>
                </div>


                <div class="col-xs-12 col-md-4">
                    <button onclick="ym(25010459,'reachGoal','send_callback_selget'); return true;"
                            style="text-transform: uppercase; width: 100%;" type="submit" class="btn btn-danger">Выбрать</button>
                </div>

            </form>

        </div>
    </div>
</div>