<section class="quiz">
    <div class="container">
        <div class="quiz_wrapper">
            <div class="">
                <form class="quiz_form ajax_form" method="post" id="quiz_form">
                    <div class="quiz-slide row quiz-slide-1 quiz-slide-active">
                        <div class="quiz_header">
                            <div class="quiz_header-title col-md-9">
                                Выберите модель вашего BMW
                            </div>
                        </div>
                        <div class="quiz_content">
                            <div class="quiz_content-main col-md-9">
                                <div class="quiz-slider">
                                    {% for model in models_array %}
                                    <div class="caption quiz-thumbnail" data-id="{{ model[0].id }}">
                                    <img src="images/model.png" alt="BMW" />
                                    <div class="h3"><span>{{ model[0].name }}</span></div>
                                    <div class="quiz-model-desc-info">
                                        {% for sub in model.children %}
                                            {{ sub[0].name }}<span>|</span>
                                        {% endfor %}

                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="quiz_content-push col-md-3">
                            <div class="quiz-select-model-wrapper">
                                <img class="main-mechanic-master" src="images/director-foto1.png" alt="" width="161">
                                <div class="main-mechanic">
                                    <p class="name">Константин Олегович</p>
                                    <p class="character">Руководитель</p>
                                </div>
                                <div class="quiz-bonus">
                                    <img class="quiz-bonus-wing-1" src="images/pngwing_24.png" alt="" width="29" height="29">
                                    <div class="quiz-bonus-info">
                                        Обслуживаться<br>в Автоцентре ПИК выгодно, <br>Вы получаете бонусы и скидки!
                                    </div>
                                    <img class="quiz-bonus-wing-2" src="images/pngwing_21.png" alt="" width="52" height="56">
                                    <img class="quiz-bonus-wing-3" src="images/pngwing_23.png" alt="" width="29" height="30">
                                </div>
                                <div class="content-push-footer">
                                    <button class="btn">ДАЛЕЕ</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- остальные пункты взять с bmwpikspb.ru -->
            </form>
        </div>
    </div>
    </div>
</section>
