<p>&nbsp;</p>
<div class="container-fluid" style="text-align: center;">
    <div class="container">
        <h2 style="padding-top: 30px;">Выберите модель BMW</h2>
        <hr class="style-seven" />
        <div class="row modr">
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ 1 серии" href="bmw-1-series"><img title="BMW 1-серии" src="i/newbmw/16/bmw-1.jpg" alt="BMW 1-серии" /></a>
                <h2 class="no-margin"><a title="Ремонт бмв 1 серии" href="bmw-1-series">BMW 1<span class="hidden-xs">-серии</span></a></h2>
                <ul class="hidden-xs hidden-sm" style="text-align: center;">
                    <li class="lobord"><a title="Ремонт БМВ Е82" href="bmv-e82">Е82</a></li>
                    <li class="lobord"><a title="Ремонт БМВ Е87" href="bmv-e87">Е87</a></li>
                    <li><a title="Ремонт БМВ F20" href="remont-bmv-f20">F20</a></li>
                </ul>
            </div>

            <!-- БМВ 2 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ 2 серии" href="[[~1537]]"><img title="BMW 2-серии" src="i/newbmw/16/bmw-2.jpg" alt="BMW 2-серии" /></a>
                <h2 class="no-margin"><a title="Ремонт БМВ 2 серии" href="[[~1537]]">BMW 2<span class="hidden-xs">-серии</span></a></h2>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ F22" href="[[~1537]]">F22</a></li>
                    <li class="lobord"><a title="Ремонт БМВ F87" href="[[~1537]]">F87</a></li>
                </ul>
            </div>

            <!-- БМВ 3 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ 3 серии" href="bmw-3-series"><img title="BMW 3-серии" src="i/newbmw/16/bmw-3.jpg" alt="BMW 3-серии" /></a>
                <h2 class="no-margin"><a title="Ремонт БМВ 3 серии" href="bmw-3-series">BMW 3<span class="hidden-xs">-серии</span></a></h2>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ Е46" href="remont-bmv-e46">Е46</a></li>
                    <li class="lobord"><a title="Ремонт БМВ Е90" href="remont-bmv-e90">Е90</a></li>
                    <li><a title="Ремонт БМВ F30" href="remont-bmv-F30">F30</a></li>
                </ul>
            </div>
            <!-- БМВ 4 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ 4 серии" href="[[~13]]"><img title="BMW 4-серии" src="i/newbmw/16/bmw-4.jpg" alt="BMW 4-серии" /></a>
                <h2 class="no-margin"><a title="Ремонт БМВ 4 серии" href="[[~13]]">BMW 4<span class="hidden-xs">-серии</span></a></h2>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ F32" href="[[~13]]">F32</a></li>
                    <li class="lobord"><a title="Ремонт БМВ F33" href="[[~13]]">F33</a></li>
                    <li class="lobord"><a title="Ремонт БМВ F36" href="[[~13]]">F36</a></li>
                </ul>
            </div>
            <!-- БМВ 5 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ 5 серии" href="bmw-5-series"><img title="BMW 5-серии" src="i/newbmw/16/bmw-5.jpg" alt="BMW 5-серии" /></a>
                <h2 class="no-margin"><a title="Ремонт БМВ 5 серии" href="bmw-5-series">BMW 5<span class="hidden-xs">-серии</span></a></h2>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ Е39" href="remont-bmv-e39">Е39</a></li>
                    <li class="lobord"><a title="Ремонт БМВ Е60" href="remont-bmv-e60">Е60</a></li>
                    <li><a title="Ремонт BMW 5 F10" href="remont-bmv-f10">F10</a></li>
                    <li><a title="Ремонт BMW 5 G30" href="[[~2426]]">G30</a></li>
                </ul>
            </div>
            <!-- БМВ 6 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ 6 серии" href="bmw-6-series"><img title="BMW 6-серии" src="i/newbmw/16/bmw-6.jpg" alt="BMW 6-серии" /></a>
                <h2 class="no-margin"><a title="Ремонт БМВ 6 серии" href="bmw-6-series">BMW 6<span class="hidden-xs">-серии</span></a></h2>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ Е63" href="remont-bmv-e63">Е63</a></li>
                    <li class="lobord"><a title="Ремонт БМВ F06" href="remont-bmv-f06">F06</a></li>
                    <li class="lobord"><a title="Ремонт БМВ F13" href="remont-bmv-f13">F13</a></li>
                    <li><a title="Ремонт БМВ 6 G32" href="[[~6396]]">G32</a></li>
                </ul>
            </div>

        </div>
        <div class="row modr">

            <!-- БМВ 7 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ 7 серии" href="BMW-7-series"><img title="BMW 7-серии" src="i/newbmw/16/bmw-7.jpg" alt="BMW 7-серии" /></a>
                <h3 class="no-margin"><a title="Ремонт БМВ 7 серии" href="BMW-7-series">BMW 7<span class="hidden-xs">-серии</span></a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ е65 - е66" href="remont-bmv-e65-66">Е65-Е66</a></li>
                    <li class="lobord"><a title="Ремонт БМВ F01 - F02" href="remont-bmv-f01-f02">F01-02</a></li>
                    <li class="lobord"><a title="Ремонт БМВ G11" href="[[~6392]]">G11</a></li>
                    <li class="lobord"><a title="Ремонт БМВ G12" href="[[~6394]]">G12</a></li>
                    <li class="lobord"><a title="Ремонт БМВ F03" href="[[~6395]]">F03</a></li>
                </ul>
            </div>

            <!-- БМВ 8 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ 8 серии" href="[[~17]]"><img title="BMW 8-серии" src="!PIK/img/model/bmw-8-g15.png" alt="BMW 8-серии" /></a>
                <h3 class="no-margin"><a title="Ремонт БМВ 8 серии" href="[[~17]]">BMW 8<span class="hidden-xs">-серии</span></a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ 8 G14" href="[[~6389]]">G14</a></li>
                    <li><a title="Ремонт БМВ 8 G15" href="[[~6390]]">G15</a></li>

                </ul>
            </div>


            <!-- БМВ Х1 -->
            <div class="col-md-2 col-xs-6  imgmodel pad5"><a title="Ремонт БМВ х серии" href="[[~41]]"><img title="БМВ Х1" src="i/newbmw/16/bmw-x1.jpg" alt="БМВ Х1" /></a>
                <h3 class="no-margin"><a title="Ремонт бмв х серии" href="[[~41]]">BMW Х1</a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ Е84" href="remont-bmv-x1">Е84</a></li>
                    <li class="lobord"><a title="Ремонт БМВ X1 F48" href="[[~6386]]">F48</a></li>
                </ul>
            </div>

            <!-- БМВ X2 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ Х2 серии" href="[[~2222]]"><img title="BMW Х2" src="!PIK/img/tunmodel/BMW-X2.png" alt="BMW X2-серии" /></a>
                <h3 class="no-margin"><a title="Ремонт БМВ Х2" href="[[~2222]]">BMW Х2<span class="hidden-xs"></span></a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ X2 F39" href="[[~6383]]">F39</a></li>
                </ul>
            </div>


            <!-- БМВ Х3 -->
            <div class="col-md-2 col-xs-6  imgmodel pad5"><a title="Ремонт БМВ х серии" href="[[~22]]"><img title="БМВ Х1 и Х3" src="i/newbmw/16/bmw-x3.jpg" alt="БМВ Х3" /></a>
                <h3 class="no-margin"><a title="Ремонт бмв х серии" href="[[~22]]">BMW Х3</a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ Е83" href="remont-bmv-e83">Е83</a></li>
                    <li class="lobord"><a title="Ремонт БМВ F25" href="remont-bmv-f25">F25</a></li>
                    <li class="lobord"><a title="Ремонт БМВ G01" href="[[~6382]]">G01</a></li>
                </ul>
            </div>
            <!-- БМВ х4 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ Х4" href="[[~1539]]"><img title="BMW Х4-серии" src="i/newbmw/16/bmw-x4.jpg" alt="BMW X4" /></a>
                <h3 class="no-margin"><a title="Ремонт БМВ Х4" href="[[~1539]]">BMW X4</a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ F26" href="[[~1539]]">F26</a></li>
                    <li class="lobord"><a title="Ремонт БМВ G26" href="[[~6381]]">G26</a></li>
                </ul>
            </div>
        </div>

        <div class="row modr">
            <!-- БМВ х5 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ Х5" href="remont-bmv-x5"><img title="BMW Х5-серии" src="i/newbmw/16/bmw-x5.jpg" alt="BMW X5" /></a>
                <h3 class="no-margin"><a title="Ремонт БМВ Х5" href="remont-bmv-x5">BMW X5</a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ Е53" href="remont-bmv-e53">Е53</a></li>
                    <li class="lobord"><a title="Ремонт БМВ Е70" href="remont-bmv-e70">Е70</a></li>
                    <li class="lobord"><a title="Ремонт БМВ F15" href="remont-bmv-f15">F15</a></li>
                    <li><a title="Ремонт БМВ G05" href="[[~6378]]">G05</a></li>
                </ul>
            </div>
            <!-- БМВ Х6-->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ Х6" href="remont-bmv-x6"><img title="BMW X6" src="i/newbmw/16/bmw-x6.jpg" alt="BMW Х6" /></a>
                <h3 class="no-margin"><a title="Ремонт БМВ Х6" href="remont-bmv-x6">BMW X6</a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a href="[[~6399]]">Е71</a></li>
                    <li><a href="[[~6400]]">F16</a></li>
                </ul>
            </div>

            <!-- БМВ X7 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ Х7" href="[[~6402]]"><img title="BMW Х7" src="!PIK/img/tunmodel/BMW-X7.png" alt="BMW X7" /></a>
                <h3 class="no-margin"><a title="Ремонт БМВ Х7" href="[[~6402]]">BMW Х7<span class="hidden-xs"></span></a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ X7 G07" href="[[~6404]]">G07</a></li>
                </ul>
            </div>

            <!-- БМВ i3 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ i3" href="[[~2250]]"><img title="BMW i3" src="!PIK/img/tunmodel/bmw-i3.png" alt="BMW i3" /></a>
                <h3 class="no-margin"><a title="Ремонт БМВ i3" href="[[~2250]]">BMW i3<span class="hidden-xs"></span></a></h3>
                <ul class="hidden-xs hidden-sm">
                    <li class="lobord"><a title="Ремонт БМВ i3" href="[[~6404]]">i01</a></li>
                </ul>
            </div>

            <!-- БМВ i8 серии -->
            <div class="col-md-2 col-xs-6 imgmodel pad5"><a title="Ремонт БМВ i8" href="[[~2251]]"><img title="BMW i8" src="!PIK/img/tunmodel/bmw-i8.png" alt="BMW i8" /></a>
                <h3 class="no-margin"><a title="Ремонт БМВ i8" href="[[~2251]]">BMW i8<span class="hidden-xs"></span></a></h3>
                <ul class="hidden-xs hidden-sm">

                </ul>
            </div>

        </div>


        <div class="row modr">
            &nbsp;
        </div>
        <hr class="style-seven1" /></div>
</div>