<div class="l-unconstrained-2">
    <div class="l-constrained-2 container">
        <div class="">
            <p class="title-8">Изучите наши актуальные акции</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="promo1">

                        <p class="promo__price">0 ₽</p>
                        <p class="promo__title">
                            Замена свечей<br />
                            зажигания
                        </p>
                        <div class="promo__btn">
                            Записаться
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="promo2">
                        <p class="promo__price">0 ₽</p>
                        <p class="promo__title">
                            Замена<br />
                            технических<br />
                            жидкостей
                        </p>
                        <div class="promo__btn">
                            Записаться
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="promo3">
                        <p class="promo__price">БЕСПЛАТНО</p>
                        <p class="promo__title">
                            Диагностика ходовой<br />
                            части
                        </p>
                        <div class="promo__btn">
                            Записаться
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="promo4">
                        <p class="promo__price">БЕСПЛАТНО</p>
                        <p class="promo__title">
                            Диагностика<br/>
                            двигателя
                        </p>
                        <div class="promo__btn">
                            Записаться
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="promo5">

                        <p class="promo__price">0 ₽</p>
                        <p class="promo__title">
                            Замена<br/>
                            амортизаторов
                        </p>
                        <div class="promo__btn">
                            Записаться
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="promo6">
                        <p class="promo__price">0 ₽</p>
                        <p class="promo__title">
                            Замена колодок<br/>
                            или дисков
                        </p>
                        <div class="promo__btn">
                            Записаться
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
