<div class="price-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-102">Цены на основной ряд услуг</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 col-9">
                <div class="rectangle-2323-holder">
                    Название услуги
                </div>
                <p class="text-104">Замена масла в двигателе</p>
                <div class="rectangle-2326-holder">
                    Компьютерная диагностика
                </div>
                <p class="text-104">Диагностика подвески</p>
                <div class="rectangle-2326-holder">
                    Техническое обслуживание
                </div>
                <p class="text-104">Замена масла в двигателе</p>
                <div class="rectangle-2326-holder">
                    Компьютерная диагностика
                </div>
                <p class="text-104">Диагностика подвески</p>
                <div class="rectangle-2326-holder">
                    Техническое обслуживание
                </div>
            </div>
            <div class="col-md-3 col-3">
                <div class="rectangle-2323-holder">Стоимость</div>
                <p class="text-113">от 600 Р</p>
                <div class="rectangle-2325-holder-2">
                    от 1200 Р
                </div>
                <p class="text-113">от 899 Р</p>
                <div class="rectangle-2325-holder-2">
                    от 2500 Р
                </div>
                <p class="text-113">от 600 Р</p>
                <div class="rectangle-2325-holder-2">
                    от 1200 Р
                </div>
                <p class="text-113">от 899 Р</p>
                <div class="rectangle-2325-holder-2">
                    от 2500 Р
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <img class="vector-10" src="images/vector_10.png" alt="" width="28" height="34" />
                    <a href="" class="text-112">Скачать прайс-лист</a>
                </div>
            </div>
        </div>
    </div>
</div>

