<div class="choose-service">
    <div class="l-constrained-8">
        <p class="choose-service-title">Выберите вид обслуживания BMW</p>
        <p class="choose-service-description">Наша команда подробно показывает отчеты о ремонте автомобилей BMW:</p>
        <div class="container">
            <div class="row">
                <div class="choose-service__rows">
                    {% for batch in services | batch(2) %}
                    <div class="col-22">
                        {% for service in batch %}
                        <div class="item-cst-3 item-cst">
                            <img class="icon-oil" src="images/{{ service.icon }}" alt="" />
                            <a href="/{{ service.contentId.path }}" class="link-text-3">
                                {{ service.name }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>