<div class="why-we">
    <div class="container">
        <div class="ww-head-title">
            <div class="title-white center">Почему нам доверяют владельцы БМВ:</div>
            <p class="description-white">
                Потому что мы уже много лет специализируемся<br />
                на обслуживание, ремонте и тюнинге только BMW!
            </p>
        </div>
        <div class="ww-body-items row">
            <div class="col-md-3" data-item="practicing">
                <div class="wwbi">
                    <div>
                        <div class="title">Практикуем</div>
                        <div class="wwbi-description">
                            <div class="text">Каждый день мы обслуживаем только БМВ</div>
                        </div>
                    </div>
                    <img src="images/why-item1.png" alt="" />
                </div>
            </div>
            <div class="col-md-3" data-item="warehouse">
                <div class="wwbi">
                    <div>
                        <div class="title">Огромный склад</div>
                        <div class="wwbi-description">
                            <div class="text">Мы работаем без посредников, на прямую с производителями.</div>
                        </div>
                    </div>
                    <img src="images/why-item2.png" alt="" />
                </div>
            </div>
            <div class="col-md-3" data-item="specialization">
                <div class="wwbi">
                    <div>
                        <div class="title">Специализация</div>
                        <div class="wwbi-description">
                            <div class="text">5-6 капитальных ремонта двигателей в месяц!</div>
                        </div>
                    </div>
                    <img src="images/why-item3.png" alt="" />
                </div>
            </div>
            <div class="col-md-3" data-item="profs">
                <div class="wwbi">
                    <div>
                        <div class="title">Профессионалы</div>
                        <div class="wwbi-description">
                            <div class="text">Более 10 лет опыт наших мастеров с автомобильными двигателя!</div>
                        </div>
                    </div>
                    <img src="images/why-item4.png" alt="" />
                </div>
            </div>
        </div>
        <div class="ww-footer row">
            <button class="btn-secondary" data-bs-toggle="modal" data-bs-target="#recordNowModal">
                ЗАПИСАТЬСЯ СЕЙЧАС
            </button>
        </div>
    </div>
</div>